.body{
    background-color: rgba(105, 178, 238, 0.822);
    text-align: center;
}

#pestaña_arriba{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex; /* Utiliza un contenedor flexbox */
  justify-content: space-between; /* Coloca elementos al comienzo y al final del contenedor */
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  padding: 10px 20px; /* Agrega espacios de relleno según sea necesario */
  background-color: #333; /* Cambia el color de fondo según tus necesidades */
  color: #fff; /* Cambia el color de texto según tus necesidades */
}

#log_b{
    padding-right: 15px;
}

#sign_b{
    padding-left: 15px;
}

#botones{
    display: flex;
}
/*
.show-btn{
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .show-btn, .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input[type='checkbox']{
    display: none;
  }*/