.boton{
  font-family: sans-serif;
  background-color: #01152b; /* Color de fondo atractivo */
  color: #fff; /* Color de texto blanco */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Relleno interior */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s, transform 0.1s; /* Agrega transiciones suaves */
}

/* Cambio de estilo al pasar el mouse */
.boton:hover {
    background-color: #0056b3; /* Cambia el color de fondo en hover */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
  }
  
  /* Cambio de estilo al hacer clic */
  .boton:active {
    background-color: #003c80; /* Cambio de color al hacer clic */
  }